.header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger{

}

.ytbutton{

}


.center{

}
.srcborder{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 5px;
}


.searchbox{
    width: 500px;
    border: 1px transparent;
    background: transparent;
    border-radius: 20px 0px 0px 20px;
}

.searchbuttn{
    pointer-events: none;
    display: block;
    width: 60px;
    height: 35px;
    border: transparent;
    border-radius: 0px 20px 20px 0px;
}
.searchbuttn:hover{
    background: #ddd;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.dotdotdot{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px transparent;
    border-radius: 40px;
    padding: 3px;
    background: transparent;
}

.dotinner{
    pointer-events: none;
    display: block;
    width: 30px;
    height: 30px;
}

.dotdotdot:hover{
    background: #ddd;
}

.account{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
    background: transparent;
}
.accinner{
    pointer-events: none;
    display: block;
    width: 24px;
    height: 24px;
}

/*Хеадер и его части сверху контэйнер и его части снизу*/


.container{
    display: grid;
    grid-template-columns: 90px 1fr;
    border: 1px solid black;
}


.menuleft{
    display: grid;
    border: 1px solid black;
}


/*Меню в левой части */



.maincon{
    display: grid;
    grid-template-rows: 30px 1fr;
}
/* контейнер держащий и feed b видосы*/
.ytfeed{
    border: 1px solid black;
}

/*рекомендации */
.vidcontainer{
    border: 1px solid black;
}


/*Контейнер видосов */