.header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger{
    border: 1px transparent;
    border-radius: 40px;
    padding: 3px;
    background: transparent;
}
.burger:hover{
    background: #ddd;
}
.ytbutton{
    border: 1px transparent;
    background: transparent;
}

.center{

}
.srcborder{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 5px;
}


.searchbox{
    width: 500px;
    border: 1px transparent;
    background: transparent;
    border-radius: 20px 0px 0px 20px;
}

.searchbuttn{
    pointer-events: none;
    display: block;
    width: 60px;
    height: 35px;
    border: transparent;
    border-radius: 0px 20px 20px 0px;
}
.searchinner{
    background: solid lightgray;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.dotdotdot{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px transparent;
    border-radius: 40px;
    padding: 3px;
    background: transparent;
}

.dotinner{
    pointer-events: none;
    display: block;
    width: 30px;
    height: 30px;
}

.dotdotdot:hover{
    background: #ddd;
}

.account{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
    background: transparent;
}
.accinner{
    pointer-events: none;
    display: block;
    width: 24px;
    height: 24px;
}

/*Хеадер и его части сверху контэйнер и его части снизу*/


.container{
    display: grid;
    grid-template-columns: 64px 1fr;
}


.menuleft{
    display: flex;
    flex-flow: column;
    width: 64px;
    padding: 16px 0px 14px;
}
.menu{
    display: flex;
    flex-flow: column;
    font-size: 12px;
    align-items: center;
    background: transparent;
    border: transparent;
    border-radius: 10px;
}
.menu:hover{
    background: #ddd;
}

.menubttn{
    width: 25px;
    height: 55px;
    background: transparent;
    border: 1px transparent;
    transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
}
.menubttn:hover{
    background: lightgray;
}
/*Меню в левой части */

.maincon{
    display: grid;
    grid-template-rows: 30px 1fr;
    justify-content: start;
}
/* контейнер держащий и feed b видосы*/
.ytfeed{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.recs{
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    border-radius: 7px;
    background: white;
    transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
}

.recs:hover{
    background: lightgray;
}
/*рекомендации */
.vidcontainer{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 365px 365px 365px 365px 365px;
    justify-items: center;
    justify-content: start;
}
.vidos{
    border: 1px transparent;
    background: transparent;
    padding: 3px;
    text-align: left;
}

.vidos:hover {
    background: transparent;
}

iframe{
    border-radius: 15px;
}

/*Контейнер видосов */